
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container{
    align-items: center;
    justify-content: center;
    width: 240x;
}

h2{
    text-align: center;
    color: #4e4e4e;
    font-weight:normal;
}

hr{
    color: #cccc;
}

label{
    color: #4e4e4e;
    text-align: left;
    padding: auto;
    margin: 4px;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 37px;
    background: #abe6ff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    background-color: #f2f2f2;
    width: 85%;
    height: 10px;
    padding: 15px;
    border: 2px solid #cccc;
    border-radius: 20px;
    transition: all 0.3s ease;
}
